.banner,
.heading,
li {
    overflow: hidden
}

li,
ul {
    position: relative
}

li:last-child,
ul {
    width: 970px;
    height: 250px
}

.banner,
ul {
    height: 250px;

}

li,
li:last-child {
    top: 0;
    z-index: 100
}

.logo,
li {
    left: 0
}

ul,
ul.selection {
    list-style: none
}

body,
div,
html,
li,
ul {
    margin: 0;
    padding: 0
}

li {
    display: inline-block
}

li:last-child {
    float: right;
    right: 0;
    position: absolute
}
.overlayleft, .overlayright {width: 50%; height: 250px; float: left; position: absolute; z-index: 350; }
.overlayleft {top: 0; left: 0;}
.overlayright {top: 0; right: 0;}
.flip {width: 71px; height: 73px; position: absolute; bottom: 0; left: 402px; float: left; background: url(../images/flip.png); z-index: 4;}
.shadowleft, .shadowright {width: 161px; height: 250px; float: left; position: absolute; z-index: 3}
.shadowleft {background: url(../images/shadowleft.png); left: 410px;}
.shadowright {background: url(../images/shadowright.png); left: 434px;}
.heading,
.logo {
    position: absolute;
    width: 100%;
    z-index: 150;
    text-align: center;
    float: left
}

.gray {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%)
}

h1 {
    color: #fff;
    font: 32px/38px 'Open Sans';
    text-shadow: 0 5px 5px #000;
    margin: 0;
    letter-spacing: -1px;
}

h1 span:first-child {
    padding: 5px 15px 5px 25px;
    border-right: 0
}

h1 span:last-child {
    padding: 5px 35px 5px 15px;
    border-left: 0;
    margin-left: -10px;
    color: #cecece
}

.logoslide {
    animation: logodown 1s linear .2s 1 normal;
    animation-fill-mode: both
}

.heading {
    top: 55px;
    width: 38%;
    margin: 0 31%;
    padding: 10px 10px 10px 0;
    box-sizing: border-box
}

.banner,
li input {
    position: relative
}

.headinganim {
    animation: headingup 1s ease-in .4s 1 normal;
    animation-fill-mode: both
}

li input {
    z-index: 200;
    float: left
}

.banner {
    width: 970px;
    color: #fff;
    font: 15px/21px Arial;
    margin: 0 auto
}

.button,
.leftimg,
.rightimg,
.thisside {
    width: 100%;
    float: left;
    position: absolute
}

.leftimg,
.rightimg {
    height: 250px;
    top: 0
}

.leftimg {

    background: url(../images/hero_left.png) left center no-repeat;
    background-size: auto 100%;
    clip-path: polygon(0 0, 570px 0, 434px 100%, 0 100%);
    left: 0;
    z-index: 2
}

.leftslide {
    animation: topdown 1s ease-in 0s 1 normal;
    animation-fill-mode: both
}

.rightimg {
    background:url(../images/hero_right.png) right center no-repeat;
    clip-path: polygon(570px 0, 100% 0, 100% 100%, 434px 100%);
    right: 0;
    z-index: 1
}

.button,
.thisside {
    z-index: 300;
    text-align: center
}
.grayover, .grayover1 {width: 100%; float: left; height: 250px; z-index: 3 }

.rightslide {
    animation: downtop 1s ease-in 0s 1 normal;
    animation-fill-mode: both
}

.button {
    bottom: 35px
}

.bottomup {
    animation: buttonUp 1s ease-in .8s 1 normal;
    animation-fill-mode: both
}

.button a {
    font: 13px/20px Arial;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    background: #9e0b0f;
    padding: 5px 10px;
    border: 1px solid #cecece
}

.button a:hover {
    background: #c71116
}

.rightbanner h1 span:first-child {
    color: #cecece
}

.rightbanner h1 span:last-child {
    color: #fff
}

.thisside {
    height: 40px;
    top: 150px
}

.thissideup {
    animation: sideup 1s ease-in .6s 1 normal;
    animation-fill-mode: both
}

ul.selection {
    width: 260px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    position: relative;
    background: transparent;
}

ul.selection li {
    width: 130px!important;
    vertical-align: middle;
    position: relative;
    left: auto!important;
    display: inline-block!important;
    height: auto!important;
    text-align: left;
    background: 0 0!important;
    float: left!important
}

.l1s,
.l2s,
.l3s,
.l4s {
    background: rgba(255, 255, 255, 1);
    position: absolute
}

.l1s,
.l2s,
.l3s,
.l4s,
label,
li {
    float: left
}

.l1s {
    width: 100%;
    height: 1px;
    top: 0;
    left: 0
}

.l1 {
    animation: left-to-right .25s linear .75s 1 normal;
    animation-fill-mode: both
}

.l2s {
    width: 1px;
    height: 100%;
    top: 0;
    right: 0
}

.l2 {
    animation: top-to-bottom .5s linear 1.25s 1 normal;
    animation-fill-mode: both
}

.l3s {
    width: 100%;
    height: 1px;
    bottom: 0;
    right: 0
}

.l3 {
    animation: right-to-left .75s linear 1.75s 1 normal;
    animation-fill-mode: both
}

.l4s {
    width: 1px;
    height: 100%;
    bottom: 0;
    left: 0
}

.l4 {
    animation: bottom-to-top 1s linear 2.25s 1 normal;
    animation-fill-mode: both
}
.content {
    width: 100%;
    padding: 5px 5%;
    box-sizing: border-box;
    position: absolute;
    top: 95px;
    text-align: center;
    z-index: 300
}
.content p, label {
    text-shadow: 2px 2px 5px rgba(0,0,0,1);}
.contentslide {
    animation: contentup 1s ease-in .8s 1 normal;
    animation-fill-mode: both
}
label {
    margin-top: 10px
}

li {
    width: 100%;
    height: 250px
}

@keyframes buttonUp {
    0% {
        bottom: -25px;
        opacity: 0
    }
    100% {
        bottom: 35px;
        opacity: 1
    }
}

@-webkit-keyframes buttonUp {
    0% {
        bottom: -25px;
        opacity: 0
    }
    100% {
        bottom: 35px;
        opacity: 1
    }
}

@keyframes sideup {
    0% {
        top: 275px;
        opacity: 0
    }
    100% {
        top: 150px;
        opacity: 1
    }
}

@-webkit-keyframes sideup {
    0% {
        top: 275px;
        opacity: 0
    }
    100% {
        top: 150px;
        opacity: 1
    }
}

@keyframes headingup {
    0% {
        top: 275px;
        opacity: 0
    }
    100% {
        top: 55px;
        opacity: 1
    }
}

@-webkit-keyframes headingup {
    0% {
        top: 275px;
        opacity: 0
    }
    100% {
        top: 55px;
        opacity: 1
    }
}

@keyframes logodown {
    0% {
        top: -51px;
        opacity: 0
    }
    100% {
        top: 0;
        opacity: 1
    }
}

@-webkit-keyframes logodown {
    0% {
        top: -51px;
        opacity: 0
    }
    100% {
        top: 0;
        opacity: 1
    }
}

@keyframes topdown {
    0% {
        top: 45px;
        opacity: 0;
        left: -30px
    }
    100% {
        top: 0;
        opacity: 1;
        left: 0
    }
}

@-webkit-keyframes topdown {
    0% {
        top: 45px;
        opacity: 0;
        left: -30px
    }
    100% {
        top: 0;
        opacity: 1;
        left: 0
    }
}

@keyframes downtop {
    0% {
        top: -45px;
        opacity: 0;
        right: -30px!important
    }
    100% {
        top: 0;
        opacity: 1;
        right: 0
    }
}

@-webkit-keyframes downtop {
    0% {
        top: -45px;
        opacity: 0;
        right: -30px!important
    }
    100% {
        top: 0;
        opacity: 1;
        right: 0
    }
}

@keyframes check {
    0% {
        background: url(../images/off.png)
    }
    100% {
        background: url(../images/on.png)
    }
}

@keyframes left-to-right {
    0% {
        width: 0
    }
    100% {
        width: 100%
    }
}

@-webkit-keyframes left-to-right {
    0% {
        width: 0
    }
    100% {
        width: 100%
    }
}

@keyframes top-to-bottom {
    0% {
        height: 0;
        top: 0
    }
    100% {
        height: 100%;
        top: 0
    }
}

@-webkit-keyframes top-to-bottom {
    0% {
        height: 0;
        top: 0
    }
    100% {
        height: 100%;
        top: 0
    }
}

@keyframes right-to-left {
    0% {
        right: -100%
    }
    100% {
        right: 0
    }
}

@-webkit-keyframes right-to-left {
    0% {
        right: -100%
    }
    100% {
        right: 0
    }
}

@keyframes bottom-to-top {
    0% {
        bottom: -100px
    }
    100% {
        bottom: 0
    }
}

@-webkit-keyframes bottom-to-top {
    0% {
        bottom: -100px
    }
    100% {
        bottom: 0
    }
}
@keyframes contentup {
    0% {
        top: 275px;
        opacity: 0
    }
    100% {
        top: 95px;
        opacity: 1
    }
}

@-webkit-keyframes contentup {
    0% {
        top: 275px;
        opacity: 0
    }
    100% {
        top: 95px;
        opacity: 1
    }
}


input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(../images/off.png);
    width: 35px;
    height: 38px
}

input:hover {
    animation: check 4s;
    -webkit-animation: check 2s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    outline: 0;
    cursor: pointer
}

input:checked {
    background: url(../images/on.png);
    outline: 0
}
